<h1>String Interpolation</h1>
<p>
  {{stringInterpolation}} | {{numberInterpolation}}
</p>
<h1>Property Binding</h1>
<input type="text" [value]="stringInterpolation">
<p [ngClass]="{redBorder: onTest()}">Is this styled?</p>
<p [ngStyle]="{color: 'green'}">Is this styled?</p>
<h3>Custom property-binding</h3>
<fa-property-binding [result]="10"></fa-property-binding>
<hr>
<h1>Event Binding</h1>
<fa-event-binding (clickable)="onClicked($event)"></fa-event-binding>
<h3>Two-Way Binding</h3>
<fa-twoway-binding></fa-twoway-binding>
